.registration-page-main
{
    background-color: #F8F6FA;
    color:black;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 50px;
    padding-top: 35px;
    
   
}
.registration-page-main-container
{
    background-color:#FFFFFF;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0px 24px 60px rgba(36, 20, 72, 0.1);

}
.company-logo
{
    height: 40px;
}

.login-text-div
{
    padding-left: 20px;
    font-size: 14px;
}
.signup-button
{
    background-color: #8759F2;
    color:#FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}
.google-button
{
    background-color: #F3F7FF;
    color:#5E6C84;
    border: none;
    border-radius: 48px;
    padding: 8px;
    cursor:pointer;
    
}
.google-button>img
{
    height: 25px;
    padding-right: 8px;
   
}
.signup-text-div
{
   
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 10px;
   
}